@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@500&display=swap');

:root {
    --light-color: #e4decf;
    --dark-color: #3f181b;
    --main-color: #a74b8d;
    --light-acc: #eac25d;
    --dark-acc: #e28c76;
}

body {
    margin: 0;
    padding: none;
    background-color: var(--light-color);
    font-family: "PT Serif", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
    letter-spacing: 2px;
}

/* header and nav bar */

header {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
}

#business-name {
    font-size: 1em;
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
    margin-left: 1em;
}

.logo {
    width: 4em;
    margin: 0 auto;
}

#main-nav {
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-nav li {
    list-style: none;
    float: right;
    margin-right: 1em;
    text-align: right;
    font-weight: bold;
}

#main-nav a {
    text-decoration: none;
    color: var(--dark-color);
}

#main-nav a:hover {
    border-bottom: 1.5px solid var(--dark-color);
}

.active {
    border-bottom: 1.5px solid var(--dark-color);

}
/* home page content */

.info-block {
    display: flex;
    background-color: var(--dark-color);
    border-radius: 3em;
    border: .2em solid black;
    margin: 2em 2em
}

.info-block-text {
    color: var(--light-acc);
    text-align: center;
    padding: 1em 2em;
}

.info-block-text h2 {
    border-bottom: .1em solid var(--light-acc);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
}

.who img {
    height: 17em;
    padding: 1.5em;
    border-radius: 3em;
}

.what img {
    height: 17em;
    padding: 1.5em;
    border-radius: 3em;
}

.expect-block {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    border-radius: 3em;
    border: .2em solid black;
    height: 20em;
    margin: 2em 2em;
    color: var(--light-acc);
}

.expect-block h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.expect-block div {
    width: 50%;
    text-align: center;
}

.expect-block a {
    text-decoration: none;
    color: var(--dark-acc);
    font-size: 1em;
}

.expect-block a:hover {
    color: var(--light-acc);
}

.expect-block h3 {
    margin-top: 0;
}

.expect-block p {
    padding: 0 2em;
    font-size: .75em;
}

/* school page styling */

.open-section {
    text-align: center;
    color: var(--dark-color);
    border: .2em solid var(--dark-acc);
    border-radius: 3em;
    margin: 1em 2em;
}

#courses-heading {
    text-align: center;
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: bold;
}

.course-box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    border-radius: 3em;
    border: .2em solid black;
    margin: 2em 2em

}

.course-text {
    text-align: center;
    width: 100%;
    color: var(--light-acc);
}

.course-text li {
    list-style: none;
    text-align: center;
    padding: .2em;
}

.course-text ul {
    padding-inline-start: 0;
}


.date-tiles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5em;
}

.tile {
    color: var(--dark-color);
    background-color: var(--dark-acc);
    border-radius: 1.5em;
    border: 1px solid var(--light-color);
    text-align: center;
    width: 20%;
    height: auto;
}


/* footer and social links */

footer {
    height: 8em;
    background-color: var(--dark-color);
    padding-bottom: 1em;
}

.social-networks {
    height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks a {
    color: var(--light-acc);
    font-size: 2em;
}
.social-networks i {
    padding: .5em;
}

footer p {
    text-align: center;
    color: var(--light-acc);
    font-family: inherit;
    font-size: .75em;
}
