@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@500&display=swap');

:root {
    --light-color: #e4decf;
    --dark-color: #3f181b;
    --main-color: #a74b8d;
    --light-acc: #eac25d;
    --dark-acc: #e28c76;
}

body {
background-color: white;
font-family: "PT Serif", sans-serif;
letter-spacing: 2px;
padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
}

/* header and nav bar */

header {
    display: flex;
    justify-content: space-between;
}

#business-name {
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
}

.logo {
    width: 70px;
    margin: 0 auto;
}

#main-nav {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100px;
}

#main-nav li {
    list-style: none;
    float: right;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}

#main-nav a {
    text-decoration: none;
    color: var(--dark-color);
}