@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@500&display=swap');

:root {
    --light-color: #e4decf;
    --dark-color: #3f181b;
    --main-color: #a74b8d;
    --light-acc: #eac25d;
    --dark-acc: #e28c76;
}

body {
background-color: var(--light-color);
font-family: "PT Serif", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
}

